<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moa.backend.member.model.mapper.MemberMapper">
	<insert id="insertMember">
		INSERT INTO MEMBER (
			MEMBER_ID, EMAIL, PASSWORD, KAKAO_ID, LOGIN_TYPE, MEMBER_STATUS, IS_ADMIN, SIGNUP_DATE, NICKNAME
		) VALUES (
			SEQ_MEMBER.NEXTVAL, #{email}, #{password}, #{kakaoId}, #{loginType}, 'ACTIVE', 'N', SYSDATE, #{nickname}
		)
	</insert>
	
	<select id="findByKakaoId" resultType="Member">
		SELECT * FROM MEMBER WHERE KAKAO_ID=#{kakaoId}
	</select>
</mapper>