<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moa.backend.member.model.mapper.MemberMapper">
	<!--selectKey를 통하여 시퀀스값을 받고 memberId에 저장후 insert-->
	<insert id="insertMember">
		<selectKey keyProperty="memberId" resultType="Long" order="BEFORE">
			SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO MEMBER(
			MEMBER_ID, EMAIL, PASSWORD, KAKAO_ID, LOGIN_TYPE, MEMBER_STATUS, IS_ADMIN, SIGNUP_DATE, NICKNAME
		)VALUES(
			#{memberId}, #{email}, #{password}, #{kakaoId}, #{loginType}, 'ACTIVE', 'N', SYSDATE, #{nickname}
		)
	</insert>
	
	<!--카카오 아이디로 회원 조회-->
	<select id="findByKakaoId" resultType="Member">
		SELECT * FROM MEMBER WHERE KAKAO_ID=#{kakaoId}
	</select>
	
	<!--member_detail테이블에 카카오에서 받아온 member_id랑 profile_img insert-->
	<insert id="insertMemberDetail">
		INSERT INTO MEMBER_DETAIL(MEMBER_ID, PROFILE_IMG) VALUES(#{memberId}, #{profileImg})
	</insert>
	<!--토큰 검증 과정에서 사용함-->
	<select id="findByMemberId" resultType="Member">
		SELECT * FROM MEMBER WHERE MEMBER_ID=#{memberId}
	</select>
	
	<!--로그인 -->
	<select id="findByEmail" resultType="Member">
		SELECT * FROM MEMBER WHERE EMAIL=#{email}
	</select>
	
	<!-- 현재 로그인한 사용자 정보 조회 -->
	<select id="getMember" parameterType="Long" resultType="com.moa.backend.member.model.vo.Member">
   	 SELECT * FROM MEMBER WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 마이페이지 -->
<select id="memberDetail" parameterType="long" resultType="com.moa.backend.member.model.dto.MemberResponseDto">
    SELECT M.EMAIL, MD.NAME, M.NICKNAME, MD.BIRTH_DATE, MD.GENDER, MD.PHONE, MD.REGION,
           MD.JOB_STATUS, MD.INCOME_LEVEL, MD.PROFILE_IMG,
           (SELECT COUNT(*) FROM BOARD WHERE MEMBER_ID = #{memberId} AND BOARD_STATUS = 'Y') AS BOARD_COUNT,
           (SELECT COUNT(*) FROM WISH WHERE MEMBER_ID = #{memberId}) AS WISH_COUNT,
           (SELECT COUNT(*) FROM REPLY WHERE MEMBER_ID = #{memberId} AND REPLY_STATUS = 'Y') AS REPLY_COUNT
    FROM MEMBER M
    LEFT JOIN MEMBER_DETAIL MD ON M.MEMBER_ID = MD.MEMBER_ID
    WHERE M.MEMBER_ID = #{memberId}
</select>
	
</mapper>